@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://ak4.picdn.net/shutterstock/videos/9154244/thumb/1.jpg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
 
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width 100%;
    max-width: none;
}
.content {
    max-width: 1920px;
    margin 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #2E1445;
    font-size: 500%;
}
.btn {
    border-radius: 9px;
    font-family: "Oswald", sans-serif;
    color: #036A81;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #036A81 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover {
    color: #fff;
    border: solid #fff 3px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}